$--gray-1: #DCD9D4;
$--gray-2: #BFC9CA;
$--gray-3: #B3B6B7;
$--black-1: #273746;
$--orange: #B9770E;
$--blue: #2980B9;
$--white: #fff;
$--white-2:#F8F9F9;
$--white-3: #EAECEE;
$--edit: #145A32;
$--delete: #922B21;